@model TalkerAPI.API.UserRecordsResponse
@{
    ViewBag.Title = "Index";
}
@using (@Html.BeginForm("Index", "Home"))
{
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                @Html.TextBox("name")
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                @Html.TextBox("password")
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Войти" />
            </td>
        </tr>
    </table>
    
}
